/* Estilos generales */
.border-10 {
    border-radius: 10px;
}

.bold {
    font-weight: 700;
}

/* Estilos del body */
body {
    background-color: #f8ebd6;
    font-family: Nunito, sans-serif;
    margin: 0;
    padding: 10px;
    text-shadow: 4px 4px 11px rgba(0, 0, 0, 0.58);
}

/* Estilos del header */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 7rem;
}

nav ul {
    background-color: #796c59;
    display: flex;
    list-style: none;
    padding: 10px 20px;
    margin: 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

/* Estilos del banner*/
.banner {
    background-image: url(../media/trucksBanner.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 15.6rem;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
}

.banner-text {
    font-size: 1.8rem;
    position: relative;
    z-index: 2;
    color: #ffffff;
}

/* Estilos del primer texto de Home */

.contenedor-grid-main {
    display: grid;
    grid-template-areas:
        "presentation choose"
        "companies companies";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    align-items: center;
}

.presentation {
    grid-area: presentation;
    display: flex;
    gap: 1.25rem;
    align-items: center;
}

.presentation img {
    width: 19rem;
    border: 1px solid #000000;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.presentation p {
    font-size: 18px;
    text-align: left;
}

.choose-us {
    grid-area: choose;
    background-color: #a3947e;
    color: #ffffff;
    padding: 1.25rem;
    margin-top: 1.25rem;
    text-align: center;
}

.features {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px auto;
    max-width: 500px;
    width: 100%;
}

.feature-item {
    font-style: italic;
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 10px;
}

.feature-item img {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border: 0.5px solid #000000;
}

.feature-item p {
    margin: 0;
    font-size: 18px;
}

.highlight {
    font-size: 18px;
    font-weight: 500;
}

/* Estilos del sector de empresas */
.companies {
    grid-area: companies;
    padding: 2.5rem 1.25rem;
    text-align: center;
    margin: 0 auto;
}

.companies h2 {
    font-size: 1.5rem;
}

.companies-logos img {
    width: 7.5rem;
}

.companies p {
    font-size: 1rem;
    color: #333;
    margin-top: 1rem;
}

/* Estilos servicios */

.services-grid {
    display: grid;
    grid-template-areas:
        "types benefits"
        "testimonials testimonials";
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr 1fr;
    gap: 1.25rem;
    justify-items: center;
    align-items: center;
}

.services {
    padding: 20px;
    text-align: center;
}

.services h1 {
    font-size: 2.5rem;
}

.services p {
    font-size: 1.1rem;
}

.types-services {
    grid-area: types;
    background-color: #a3947e;
    color: #ffffff;
    align-items: center;
    padding: 1.25rem;
    display: flex;
    justify-content: space-around;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.service-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-item img {
    height: 9rem;
    margin-bottom: 1rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.service-item ul li {
    margin: 0.3rem 0;
    padding-left: 1rem;
}

.benefits {
    grid-area: benefits;
    padding: 1.25rem;
}

.benefits h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.benefits ul {
    list-style-type: disc;
    padding-left: 1.8rem;
    font-size: 1.1rem;
}

.testimonials {
    grid-area: testimonials;
    width: 70%;
    padding: 1.25rem;
    background-color: #f5f3f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.testimonials h2 {
    text-align: center;
    font-size: 1.8rem;
    color: #4a433f;
    margin-bottom: 25px;
}

.testimonial-item {
    background-color: #fff;
    border-left: 5px solid #796c59;
    padding: 1rem 1.23rem;
    margin: 1.25rem 0;
    font-style: italic;
    color: #5a534f;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

.testimonial-name {
    margin-top: 0.6rem;
    text-align: right;
    font-weight: 600;
    color: #796c59;
    font-style: normal;
}

/* Estilos tipos de servicios */
.types-services {
    background-color: #a3947e;
    color: #ffffff;
    align-items: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 200px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.types-services li {
    margin-bottom: 10px;
    font-size: 16px;
    list-style: square;
}

.types-services img {
    height: 9rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border: 0.5px solid #000000;
}

/* Estilos Flota */
.info-trucks {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.images-trucks {
    background-color: #a3947e;
    padding: 10px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    width: 75%;
    margin: 0px auto;
}

.images-trucks img {
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

/* Estilos de Nosotros */
.contenedor-grid-about-us {
    display: grid;
    grid-template-areas:
        "text image"
        "faqs image"
        "location image";
    grid-template-columns: 60% 40%;
    grid-template-rows: 25% 50% 25%;
    gap: 5px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.about-us-text {
    grid-area: text;
    font-size: 18px;
    width: 75%;
}

.faqs {
    grid-area: faqs;
    padding: 20px;
}

.accordion-button {
    background-color: #796c59;
}

.accordion-button:not(.collapsed) {
    background-color: #b5a58d;
    color: #000000;
}

.accordion-collapse {
    background-color: #f8ebd6;
}

.about-us-img {
    grid-area: image;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    gap: 8px;
    background-color: #a3947e;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.about-us-img img {
    width: 80%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.location {
    grid-area: location;
}

.location iframe {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

/* Estilos contacto */
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin: 20px auto;
}

.contact h1 {
    font-size: 35px;
}

.contact h3 {
    font-weight: 400;
    margin-bottom: 30px;
}

form {
    background-color: #a3947e;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    padding: 30px 40px;
    text-align: left;
    font-style: italic;
}

/* Estilos del footer */
footer {
    background-color: #796c59;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
}

footer p {
    margin: 0;
}

.social-media img {
    width: 1.5rem;
    margin-right: 3px;
    margin-left: 10px;
}

.contact-info {
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
    gap: 100px;
}

.contact-info img {
    width: 1.5rem;
    margin-right: 10px;
    margin-left: 10px;
    gap: 20px;
    object-fit: cover;
}

.info-item {
    display: flex;
    align-items: center;
}