@use "../generals/variables" as *;

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* Estilos contacto */

.contact {
    @include flex($direction: column, $align: center);
    text-align: center;
    padding: 1.25rem;
    margin: 1.25rem auto;

    h1 {
        font-size: 2.1875rem;
    }

    h2 {
        font-weight: 400;
        margin-bottom: 1.875rem;
    }
}

form {
    background-color: $third-color;
    box-shadow: .625rem .625rem .3125rem 0rem rgba(0, 0, 0, 0.75);
    padding: 1.875rem 2.5rem;
    text-align: left;
    font-style: italic;
}